
.common-gaming-software {
  .banner-content-element {


    min-height: 100vh;

    .two-columns {
      margin-block: 5rem;
    }

    .title-card {
      margin: 4rem;
    }
  }
}

.working-parts {
  h2 {
    margin-bottom: 5rem;
  }

  margin-bottom: 5rem;
}


.card {
  height: 100%;
  width: 80%;
  text-align: left;
}
